@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Playfair+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --accent : #009458;
    --hover : #69bf97;
    --gris : #ededed;
    --dosis: 'Dosis', sans-serif;
    --playfair: 'Playfair Display', serif;
}
h1, h2{
    font-family: var(--playfair);
}
p{
    font-family: var(--dosis);
}
header{
    height: 80px;
    background: var(--accent);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: var(--playfair);
}
header h1{
    font-size: 1.4rem;
}
header > img{
    width: 60px;
}
header a{
    text-decoration: none;
    color: white;
    font-family: var(--dosis);
    font-weight: bold;
    font-size: clamp(.9rem, 1.5vw ,1.4rem);
}
.user{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.user img{
    width: 60px;
    border-radius: 50%;
    margin: 0 20px;
}

/*media querys */
@media (max-width: 480px) {
    header h1{
        display: none;
    }
    .user img{
        margin: 0 0 0 20px;
    }
}